body {
  background: #333;
  color: #EEE;
  font-size: 15px;
}

p {
  margin: 0;
}

#messages {
  border-top: 2px solid #888;
  border-bottom: 1px solid #888;

  .message {
    border-bottom: 1px solid #888;
    
    .time {
      font-size: 0.8em;
      float: right;
      opacity: 0.75;
    }
    .body {
      font-weight: bold;
    }
  }
}

$messageFormHeight: 150px;

#messageFormFix {
  height: $messageFormHeight + 10px;
}

#messageForm {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: #333;
  margin: 0;
  height: $messageFormHeight;

  .messageBox {
    resize: none;
    background: #555;
    font-size: 15px;
    color: #EEE;
    border: 1px solid #888;
    width: 100%;
    height: 75%;
  }
  .messageSubmit {
    margin-top: 5px;
    font-size: 18px;
    padding: 5px;
    min-width: 50px;
    border-radius: 5px;
    background: #5090E0;
    color: #EEE;
    float: right;
    border: none;
  }
}